* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: "American Typewriter", serif;
}

#canvas {
  width: 400px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#clock {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  line-height: 1;
}

#date {
  font-size: 21px;
  margin-top: -10px;
}

#greeting {
  font-size: 28px;
  margin-top: 6px;
}
