* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  font-family: "American Typewriter", serif;
}

#canvas {
  width: 400px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* שעון */
#clock {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 200px;
  line-height: 1;
}


/* תאריך */
#date {
  font-size: 21px;
  margin-top: -12px;
}

/* יום נעים */
#greeting {
  font-size: 28px;
  margin-top: 6px;
  color: #ff7aa2;
}


/* אזור עתידי */
#weather {
  font-size: 26px;
  margin-top: 10px;
}
#trains {
  margin-top: 14px;
  font-size: 20px;
  line-height: 1.4;
}

.station {
  margin-top: 8px;
}

.station-name {
  font-weight: bold;
  margin-bottom: 2px;
}







