/* RESET בסיסי */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* מרכז את הקנבס במסך */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}

/* הקנבס עצמו */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  position: relative;
  font-family: "American Typewriter", serif;
}

/* השעון */
#time {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-top: -10px;
}

/* תאריך */
#date {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 21px;
}

/* מזג אוויר */
#weather {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 21px;
}

/* טקסט "Have a nice day" */
#greeting {
  text-align: center;
  font-size: 28px;
  color: #ff6fae;
  margin-top: -8px;
}

/* אזור רכבות */
#trains {
  position: absolute;
  bottom: 10px;
  left: 12px;
  right: 12px;
  font-size: 18px;
  line-height: 1.4;
}

/* תחנה */
.station {
  margin-top: 6px;
}

/* שם תחנה */
.station-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2px;
}
