* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* קנבס */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  font-family: 'Special Elite', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== שעון ===== */
#clock-area {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#time {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 280px;
  font-weight: bold;
  line-height: 1;
  margin-top: -100px;
}

/* ===== אזור מידע ===== */
#info-area {
  text-align: center;
  margin-top: 20px;
}

#date {
  font-size: 27px;
}

#greeting {
  font-size: 26px;
  color: #ff6fae;
  margin: 15px 0;
}

#weather {
  font-size: 25px;
}

/* ===== רכבות ===== */
#trains {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 6px;
}

/* תחנה */
.station {
  width: -40%;
  text-align: center;
}

/* U4 / U6 */
.line-box {
  display: inline-block;
  padding: 4px 6px;
  border: 4px solid;
  font-weight: bold;
  margin-bottom: 15px;
}

.line-box.u4 {
  border-color: #00a650;
}

.line-box.u6 {
  border-color: #864504;
}

/* שם תחנה */
.station-name {
  font-size: 20px;
  margin-bottom: 4px;
}

/* זמנים */
.times {
  font-size: 16px;
  line-height: 1.4;
  color: white; 
}



