* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  position: relative;
  font-family: "American Typewriter", serif;
}

/* שעון */
#time {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  line-height: 1;
}

/* תאריך */
#date {
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 21px;
}

/* ברכה */
#greeting {
  position: absolute;
  top: 215px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28px;
  color: #ff6fae;
}

/* מזג אוויר */
#weather {
  position: absolute;
  top: 245px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 21px;
}

/* רכבות */
#trains {
  position: absolute;
  bottom: 6px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.4;
}

/* תחנה */
.station {
  width: 46%;
}

/* ריחוק בין התחנות */
.station.left {
  margin-right: 12px;
}

.station.right {
  margin-left: 12px;
  text-align: right;
}

/* ריבוע קו */
.line-box {
  display: inline-block;
  padding: 2px 6px;
  border: 2px solid;
  font-weight: bold;
  margin-bottom: 2px;
}

.line-box.u4 { border-color: #00a650; }
.line-box.u6 { border-color: #9b59b6; }

.station-name {
  font-size: 13px;
  opacity: 0.85;
  margin-bottom: 2px;
}
