/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* מרכז מסך */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* קנבס */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  font-family: "American Typewriter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
}

/* שעון */
#time {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  font-weight: bold;
  line-height: 0.9;
}

/* תאריך */
#date {
  font-size: 21px;
  margin-top: -6px;
}

/* ברכה */
#greeting {
  font-size: 28px;
  color: #ff6fae;
  margin-top: 2px;
}

/* מזג אוויר */
#weather {
  font-size: 21px;
  margin-top: 2px;
}

/* רכבות – שורה תחתונה */
#trains {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.4;
}

/* תחנה */
.station {
  width: 48%;
}

/* יישור צדדים */
.station.left {
  text-align: left;
}

.station.right {
  text-align: right;
}

/* ריבוע קו */
.line-box {
  display: inline-block;
  padding: 2px 6px;
  border: 2px solid;
  font-weight: bold;
  margin-bottom: 2px;
}

/* צבעים – אפשר לשנות */
.line-box.u4 {
  border-color: #00a650; /* ירוק U4 */
}

.line-box.u6 {
  border-color: #864504; /* סגול U6 */
}

/* שם תחנה */
.station-name {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 2px;
}
