/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* מרכז מסך */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* קנבס */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  font-family: "American Typewriter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;     
  justify-content: flex-start;
}


/* שעון */
#time {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 240px;
  font-weight: bold;
  line-height: 0.9;
  margin-top: -12px;   /* זה הקסם */
}


/* תאריך */
#date {
  font-size: 21px;
  margin-top: -6px;
}

/* ברכה */
#greeting {
  font-size: 28px;
  color: #ff6fae;
  margin-top: 2px;
}

/* מזג אוויר */
#weather {
  font-size: 30px;
  margin-top: 2px;
}

/* רכבות – שורה תחתונה */
#trains {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 1.4;
}

/* תחנה */
.station {
  width: 48%;
}

/* יישור צדדים */
.station.left {
  text-align: left;
}

.station.right {
  text-align: left;
}

/* ריבוע קו */
.line-box {
  display: inline-block;
  padding: 4px 6px;
  border: 4px solid;
  font-weight: bold;
  margin-bottom: 2px;
}

/* צבעים – אפשר לשנות */
.line-box.u4 {
  border-color: #00a650; /*  U4 */
}

.line-box.u6 {
  border-color: #864504; /*  U6 */
}

/* שם תחנה */
.station-name {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 2px;
}









