* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* קנבס */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  font-family: "American Typewriter", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== שעון ===== */
#clock-area {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#time {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  font-weight: bold;
  line-height: 1;
  margin-top: -10px;
}

/* ===== אזור מידע ===== */
#info-area {
  text-align: center;
  margin-top: -10px;
}

#date {
  font-size: 21px;
}

#greeting {
  font-size: 28px;
  color: #ff6fae;
  margin: 2px 0;
}

#weather {
  font-size: 21px;
}

/* ===== רכבות ===== */
#trains {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 14px 6px;
}

/* תחנה */
.station {
  width: 45%;
  text-align: center;
}

/* U4 / U6 */
.line-box {
  display: inline-block;
  padding: 2px 6px;
  border: 2px solid;
  font-weight: bold;
  margin-bottom: 2px;
}

.line-box.u4 {
  border-color: #00a650;
}

.line-box.u6 {
  border-color: #9b59b6;
}

/* שם תחנה */
.station-name {
  font-size: 14px;
  margin-bottom: 4px;
}

/* זמנים */
.times {
  font-size: 14px;
  line-height: 1.4;
  color: white; /* לא שחור! */
}
