/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* מרכז מסך */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

/* קנבס */
#canvas {
  width: 400px;
  height: 300px;
  background: black;
  color: white;
  font-family: "American Typewriter", serif;
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
}

/* שורה עליונה: תאריך + מזג אוויר */
#top {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
}

/* שעון */
#time {
  font-family: "Chalkboard SE", "Comic Sans MS", cursive;
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  line-height: 0.9;
  margin: 4px 0 0 0;
}

/* greeting */
#greeting {
  text-align: center;
  font-size: 28px;
  color: #ff6fae;
  margin-top: -6px;
}

/* רכבות */
#trains {
  margin-top: auto;
  font-size: 17px;
  line-height: 1.4;
}

/* תחנה */
.station {
  margin-top: 6px;
}

/* שם תחנה */
.station-name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 2px;
}
